# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/tg-chess-bot.iml
.idea/vcs.xml
env
/__pycache__
.env
**/__pycache__
creds.json